<a href="/nuevo-grupo">Nuevo Grupo</a>
<a href="/nuevo-meeti">Nuevo Meeti</a>
<a href="/administracion">Panel Administración</a>
<a href="/cerrar-sesion">Cerrar Sesión</a>
<a href="/"><strong>Hola, </strong><%= locals.usuario.nombre %></a>
<img src="/uploads/perfiles/<%= locals.usuario.imagen %>" alt="Imagen Perfil" width="45rem" height="45rem" />
