<main class="contenedor contenedor-formularios">
 <h1> <%= nombrePagina %> </h1>
 <form method="POST" class="default-form">
  <legend>¿Esta seguro que desea Eliminar este Grupo?</legend>
  <div class="campo">
   <a href="/administracion" class='btn btn-rosa' style='margin-right: 2em;'>Cancelar</a>
   <input type="submit" value="Eliminar Grupo" class='btn btn-azul'>
  </div>
 </form>
</main>
