<main class="contenedor contenedor-formularios">
 <h1><%= nombrePagina %></h1>
 <form action="/nuevo-password" method="POST" class='default-form'>
  <div class="campo">
   <label>Password Actual</label>
   <input type="password" name="anterior" placeholder="Tu Password Actual">
  </div>
  <div class="campo">
   <label>Password</label>
   <input type="password" name="nuevo" placeholder="Tu Nuevo Password">
  </div>
  <div class="campo">
   <label>Confirmacion</label>
   <input type="password" name="confirmar" placeholder="Confirma tu nuevo Password">
  </div>
  <div class="campo enviar">
   <a href="/administracion" class='btn btn-rosa' style='margin-right: 1.5rem;'>Cancelar</a>
   <input type="submit" value="Cambiar Password" class='btn btn-azul'>
  </div>
 </form>
</main>
